<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.attribe.delivo.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.attribe.delivo.app.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.attribe.delivo.app.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- android:name=".MainApp" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme1"
        tools:replace="icon">
        <activity
            android:name=".PicknDropLocations"
            android:label="@string/Main_Screen_Title"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateVisible" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_app_map_id" />

        <activity
            android:name=".ScreenSplash"
            android:label="@string/title_activity_screen_splash">

        </activity>
        <activity
            android:name=".screens.CustomPickLocation"
            android:label="Pick Location"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".PlaceSearch"
            android:label="Search Places"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomDropLocation"
            android:label="Drop Location"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".CustomAutocomplete" />
        <activity
            android:name=".OrderCreating"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".TestFirebase" />
        <activity
            android:name=".screens.LoginScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
        <activity android:name=".screens.SignUpScreen" />
        <activity
            android:name=".screens.DeliveryOptionScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".screens.VerifyCode" />
        <activity android:name=".screens.PickDetailsActivity" />
        <activity android:name=".teststeplayout.MainStepActivity"></activity>
        <activity android:name=".screens.AddDropLocation" />
        <activity android:name=".teststeplayout.MainOrderActivity" />
        <activity
            android:name=".screens.sampleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity android:name=".screens.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>